body
{
    margin      : 0;
    padding     : 0 0 50px 0;
    font-family : "Helvetica", "Arial";
    font-size   : 14px;
    line-height : 18px;
    cursor      : default;
}

a
{
    color : #ef7c61;
}

.container
{
    width    : 960px;
    position : relative;
    margin   : 0 auto;
}

.header, .footer
{
    background  : #000;
    line-height : 50px;
    height      : 50px;
    width       : 100%;
    color       : #fff;
}

.header h1, .header a
{
    display : inline-block;
}

.header h1
{
    margin      : 0;
    font-weight : normal;
}

.footer
{
    position : absolute;
    bottom   : 0;
}

.content
{
    padding : 25px 0;
}


.error
{
    color : #ef7c61;
}

.header form {
    float:right;
}
    .content h1{
        font-family: "EnamelBrushRegular",Helvetica,sans-serif;
        font-size: 140px;
        font-weight: normal;
        margin: 150px 50px 50px 40%;
        width: 770px;
    }
    .sportInput {
        width: 100px;
    }
    .inputFields {
        margin: 0 auto 80px;
        padding: 50px 0;
        width: 800px;
    }
    .form-control {
        box-shadow: 0 0 10px #333333;
        height: 37px;
        line-height: 1.5em;
        margin-bottom: 1em;
        padding: 5px 10px 5px 3px;
        width: 550px;

    }
    .sportSubmit{
        background: -moz-linear-gradient(center top , #70C128 0%, #5F8246 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #2A3A1F;
        display: inline-block;
        font-weight: bold;
        height: 41px;
        padding: 0 20px;
        text-shadow: 0 1px 0 #BEDCAA;
    }